html {
    background-color: #1d1d1d;
}

body {
    color: #ddd;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.sidebar {
    width: 25%;
    max-width: 220px;
    position: fixed;
    height: 100vh;
    background-color: #1F2023;
    color: #EEE;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.36);
    padding: 0;
    z-index: 1;
}

.sidebar-space {
    flex: 0 0 25%;
    max-width: 220px;
    z-index: 0;
    cursor: pointer;
}

.main {
    background-color: rgba(0,0,0,0.5);
    box-shadow: inset 0px 0px 11px 1px rgba(0,0,0,0.36);
    flex: 1; 
    padding: 0 0 2em 0;
    z-index: 0;
}

.torrent {
    padding: .5em 1.5em;
}

/* .torrent:focus {
    background-color: rgba(255,255,255,0.25);
    outline-color: transparent;
} */

.settings {
    position: relative;
    float: right;
    opacity: 0;
    transition: 0.1s;
    transition-timing-function: ease-in;
}

.torrent:hover .settings {
    opacity: 1;
    transition: 0.1s;
    transition-timing-function: ease-in;
}

div.progress {
    width: 100%;
    height: 5px;
    background: #555555;
    box-shadow: inset rgba(0, 0, 0, 0.5) 0px 0px 5px 0px;
}

.progress-bar {
    background-color: #39CE83;
    height: 5px;
    transition: width 0.5s;
}

.progress-bar.seeding {
    background-color: #349CF4;
}

.progress-bar.error {
    background-color: darkred;
}

p.name {
    margin: 0.05em 0 0.25em 0;
}

.panel {
    background-color: #44464D;
    box-shadow: 0px 0px 12px -1px rgba(0,0,0,0.75);
}

.panel-button {
    padding: 10%;
    text-align: center;
    zoom: 1;
    display: inline-block;
    text-align: center;
    padding: 10% 20%;
}

.panel-button:hover {
    background-color: rgba(255,255,255,0.25);
}

.panel-button-wrapper {
    width: 100%;
    text-align: center;
}

.sub.left, .sub.right {
    display: inline-block;
}

.sub {
    font-size: 0.75rem;
    opacity: 0.95;
    margin: 0 0 0.5em 0;
}

.sub.left {
    width: 70%;
}

.sub.right {
    float: right;
}

.sub.left i.fas {
    padding-right: 0.25em;
    line-height: 1.2em;
}

.sub.right i.fas {
    padding-left: 0.25em;
    line-height: 1.2em;
}

p.sub {
    padding: 0 15px 0 5px;
    margin: 0;
    display: inline-block;
    min-width: 65px;
}

p.sub.error {
    padding: 0;
}

p.sub.error::before {
    content: "Error: ";
    color: darkred;
}

div.sub.right p.sub {
    text-align: right;
}

div.speed {
    margin-bottom: 1.25em;
    display: inline-flex;
    width: 100%;
    position: relative;
}

div.speed div.overlay {
    box-shadow: inset 0px 0px 12px -1px rgba(0,0,0,0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    pointer-events: none;
    top: 0px;
    left: 0px;
}

.download, .upload {
    color: #1F2023;
    display: grid;
    width: 100%;
    padding: 3%;
}

.download {
    background-color: #39CE83;
}

.upload {
    background-color: #349CF4;
}

p.download-main, p.upload-main {
    font-size: 1.2em;
    margin: 0.25em 0.25em 0 0.25em;
}

i.fas.fa-arrow-up.stats, i.fas.fa-arrow-down.stats {
    line-height: 1.5em;
}

.fa-arrow-down.stats:before, .fa-arrow-up.stats:before {
    font-size: .65em;
}

p.download-sub, p.upload-sub {
    font-size: 0.8em;
    margin: 0.25em 0.25em 0.5em 0.5em;
}

.torrentcount {
    text-align: center;
    display: inline-flex;
    width: 100%;
    align-items: center;
}

p.active, p.paused, p.total {
    display: inline-block;
    font-size: 1.20em;
    width: 100%;
    position: relative;
}

p.active i.fas, p.paused i.fas, p.total i.fas {
    margin-right: 0.25em;
    font-size: 0.90em;
    top: 0.45em;
}

div#upload, div#dialog-bg {
    z-index: 2;
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.55);
}

div#upload-dialog, div#dialog {
    background: #141414;
    color: #FFF;
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.36);
    margin: 10vh auto;
    padding: 1em;
    max-width: 600px;
    width: 100vw;
    min-height: 200px;
}

p#dialog-message {
    white-space: pre-wrap;
        margin: 1em;
}

#upload-label {
    border: 3px solid rgba(255,255,255,0.75);
    border-style: dashed;
    border-radius: 5px;
    margin: 10px 50px 10px;
    padding: 8%;
    text-align: center;
    display: block;
    cursor: pointer;
}

#upload-label.highlight {
    border-color: #39CE83;
    color: #39CE83;
}

div#close-button {
    float: right;
    color: #FFFFFF;
    font-size: 1.2em;
}

div#close-button i.fas.fa-plus:hover {
    color: #AAAAAA;
}

p.title {
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
}

p.body {
    margin: 0.25em 0.5em 0.25 0.5em;
    white-space: pre-wrap;
}

div.button p.dialog.actions {
    max-width: 180px;
    width: 100%;
    text-align: center;
    background-color: black;
    padding: 1em 0;
    margin: 1em auto;
}  

div.button p.dialog.actions.pause {
    background-color: rgb(0, 139, 139);
    cursor: pointer;
}

div.button p.dialog.actions.pause:hover {
    background-color: rgb(0, 201, 201);
}

div.button p.dialog.actions.delete {
    background-color: rgb(139, 0, 0);
    cursor: pointer;
}

div.button p.dialog.actions.delete:hover {
    background-color: rgb(201, 0, 0);
}

p.dialog.info {
    white-space: pre;
	overflow: scroll;
    line-height: 1.5em;
}
