<html>

<head>
	<link rel="stylesheet" href="/static/login.css" />
	<meta http-equiv="cache-control" content="no-cache" />
	<style>
		body {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		div.login {
			padding: 2vh;
			border: 1px solid #dbdbdb;
			border-radius: 1vh;
		}

		div.login form {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 0;
		}

		div.login form input {
			margin: .5em;
			padding: .5em;
			border: 1px solid #dbdbdb;
			border-radius: .25em;
			font-size: .9em;
		}

		div.login form input[type="submit"] {
			cursor: pointer;
			background-color: #dbdbdb;
			transition: background-color .4s;
		}

		div.login form input[type="submit"]:hover {
			background-color: #eeeeee;
		}

		div#invalid {
			padding: .5em;
			margin: .5em;
			border: 1px solid rgba(255, 0, 0, 0.55);
			background: rgba(255, 0, 0, 0.025);
			color: red;
			border-radius: .25em;
			font-size: .9em;
		}
	</style>
</head>

<body id="login">
	<div class="login">
		{{ if ne .Message "" }}
		<div id="invalid">
			{{ .Message }}
		</div>
		{{ end }}
		<form action="/login" method="post">
			<input placeholder="Username" name="username" type="text">
			<input placeholder="Password" name="password" type="password">
			<input type="submit" value="Submit">
		</form>
	</div>
</body>

</html>