{{ with .Stats }}
<div id="downloadspeedbytes">{{ .DownloadSpeedBytes }}</div>
<div id="uploadspeedbytes">{{ .UploadSpeedBytes }}</div>
<div class="speed">
	<div class="overlay"></div>
	<div class="download">
		<p class="download-main"><i class="fas fa-arrow-down stats"></i>{{ .DownloadSpeed }}</p>
		<p class="download-sub">{{ .CurDownload }} / {{ .CumDownload }}</p>
	</div>
	<div class="upload">
		<p class="upload-main"><i class="fas fa-arrow-up stats"></i>{{ .UploadSpeed }}</p>
		<p class="upload-sub">{{ .CurUpload }} / {{ .CumUpload }}</p>
	</div>
</div>
<div class="torrentcount">
	<p class="active"><i class="fas fa-play"></i>{{ .ActiveTorrentCount }}</p>
	<p class="paused"><i class="fas fa-pause"></i>{{ .PausedTorrentCount }}</p>
	<p class="total"><i class="fas fa-plus"></i>{{ .TotalTorrentCount }}</p>
</div>
{{ end }}
