{{ with .Torrents }}
{{ range . }}
<div class="torrent" id="{{ .ID }}" {{ if eq .Status 0 }} style="opacity: 0.5;" {{ end }} >
	<div class="settings" onclick="torrentSettings(event)"><i class="fas fa-cog"></i></div>
	<p class="name">{{ .Name }}</p>
	<div class="sub">
		{{ if eq .Error "" }}
		<div class="sub left">
			<p class="sub dateadded"><i class="fas fa-calendar-alt"></i>{{ .DateAdded }}</p>
			<p class="sub ratio"><i class="fas fa-exchange-alt"></i>{{ .Ratio }}</p>
			<p class="sub uploaded"><i class="fas fa-upload"></i>{{ .Uploaded }}</p>
			<p class="sub size"><i class="fas fa-folder"></i>{{ .Size }}</p>
		</div>
		<div class="sub right">
			<p class="sub downloadspeed">{{ .DownloadSpeed }}/s<i class="fas fa-arrow-down"></i></p>
			<p class="sub uploadspeed">{{ .UploadSpeed }}/s<i class="fas fa-arrow-up"></i></p>
		</div>
		{{ else }}
		<div class="sub left">
			<p class="sub error">{{ .Error }}</p>
		</div>
		{{ end }}
	</div>
	<div class="progress">
		<div class="progress-bar {{ if eq .Status 6 }}{{ if eq .Error "" }}seeding{{ else }}error{{ end }}{{ end }}" style="width: {{ .Progress }};"></div>
	</div>
</div>
{{ end }}
{{ end }}
